<!DOCTYPE html>
<!--[if lt IE 9]><html class="ie oldie"><![endif]-->
<!--[if gt IE 9]><html class="ie ie9"><![endif]-->
<!--[if !IE]><html><![endif]-->
<head>
  <%= render "shared/head" %>
</head>

<body class="<%= body_class %>">
  <div class="super-wrapper">
    <%= render 'shared/flashes' %>
    <%= render 'shared/header' %>

    <div class="width-wrapper clearfix">
      <div class="content-wrapper">
        <section class="content">
          <%= yield %>
        </section>
        <footer>
          <%= yield :footer %>
        </footer>
      </div>
    </div>
  </div>

  <%= render 'shared/footer' %>

</body>
</html>
